<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Pikaso requires access to your photo library to export your artwork.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Pikaso requires access to your photo library to save your artwork.</string>
</dict>
</plist>
